.titulo{
    background-color: black;
    color: #d4af37;
    text-shadow: 2px 2px 4px rgba(139, 0, 0, 0.7);
    width: 90%;
    max-width: 900px;
    padding: 20px;
    border: 2px solid #1d1a1a;
    margin: 15px auto;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 8px 10px rgba(192, 177, 177, 0.5);

}

.promocion{
    background-color: #a1720c;
    width: 70%;
    max-width: 700px;
    color: #f2f2f2;
    padding: 25px;
    border: 2px solid #916811;
    margin: 15px auto;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(139, 101, 51, 0.5);
    position:relative;
    z-index:1;
}

.promocion h2{
    color: rgb(58, 59, 65);
    text-shadow: 0px 8px 20px;
}




.servicio{
    background-color: #1d201f;
    width: 60%;
    color: rgba(226, 196, 95, 0.9);
    text-shadow: 2px 1px 10px rgba(204, 206, 94, 0.7);
    max-width: 400px;
    padding: 20px;
    border: 2px solid #bb901b;
    border-radius: 15px;
    margin: 20px;
    box-shadow: 0px 8px 20px rgba(204, 156, 23, 0.7);
    transition: 0.3s;
}

.servicio:hover{
    transform: translateY(-10px);
}

.servicios h2{
    text-align: center;
    font-size: 2.5rem;
        border: 2px solid rgb(151, 106, 34);
}
.servicio span{
    color: #e2dada;
    text-shadow: 2px 1px 10px rgb(170, 171, 187);
}

.servicio a {
    display: block;
    width: fit-content;
    margin-left: auto;
    padding:10px;
    border: 2px solid #c2bdaf;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgb(176, 176, 184, 0.5);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    color: #444;
}

.servicio a:hover{
    background-color: #cead41;
    box-shadow: 0px 8px 20px #c2a237;
    border: 2px solid rgba(182, 154, 31, 0.5);
    transform: translateY(-5px);
    transition: 0.3s;
}

.galeria h2{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    border: 2px solid rgb(151, 106, 34);
    padding: 15px;

}

.galeria-fotos{
    margin: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    border: 2px solid rgb(151, 106, 34);
    border-radius: 15px;
}

.foto{
    border-radius: 15px;
    border: 2px solid rgba(226, 196, 95, 0.9);
    overflow: hidden;
    transition: 0.3s;
    position: relative;
}

.foto:hover .texto{
    transition: 0.3s;
    transform: translateY(0px);
    bottom: 30px;
    opacity: 1;
}

.foto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto:hover{
    transform: translateY(-10px);
    transform: scale(1.05);
}
.texto{
    padding: 20px;
    position: absolute;
    opacity: 0;
    color:#ffffff;
    transform: translateY(20px);
    bottom: -100px;
}
.foto:hover img{
    filter: grayscale(100%) blur(1px) brightness(60%);
}
.seccion-horario h1{
    text-align: center;
    font-size: 2.5rem;
}

.horario-atencion{
    text-align: center;
    background-color: #1d201f;
    width: 60%;
    color: rgba(226, 196, 95, 0.9);
    text-shadow: 2px 1px 10px rgba(204, 206, 94, 0.7);
    max-width: 400px;
    padding: 20px;
    border: 2px solid #bb901b;
    border-radius: 15px;
    margin: auto;
    box-shadow: 0px 8px 20px rgba(204, 156, 23, 0.7);
    transition: 0.3s;
    margin-bottom: 50px;
}

.testimonios h2{
    text-align: center;
    font-size: 2.5rem;
} 
.testimonio{
    width: 60%;
    max-width: 300px;
    padding: 10px;
    background-color: rgb(223, 239, 241);
    border: 2px solid #d0e8e9;
    text-shadow: 0px 8px 20px ;
    box-shadow: 0px 8px 20px rgb(170, 171, 187);
    margin: 25px;
    border-radius: 15px;
}
html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #161512 30%, #000000 70%);
    color: #999;
}

body h1, body h2{
    color: #a1720c;
    text-shadow: 0px 4px 20px;
}
.hero{
    display: flex;
    flex-direction: column;
    font-family: T;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("img/hero/fondo.jpg");
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: aparecer 1s;
    filter: blur(px);
    filter: grayscale;
}

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
}

.bienvenida{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #cea82d;
    gap: px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0px 8px 20px rgb(0, 0, 0);
    width: 60%;
    max-width: 800px;
    margin: 120px auto 0 auto;
    text-align: center;
    padding: 10px;
    position:relative;
    z-index:1;
}

.bienvenida h1{
    font-size: 4rem;
    text-shadow: 0 8px 20px rgba(0,0,0,.8);
}

.hero:first-child h3::after{
    content: " 🔥";
    position: absolute;
}

.bienvenida h3{
    font-size: 2rem;
    text-shadow: 0 8px 20px rgba(0,0,0,.8);
}

.boton-bienvenida{
    background-color: #eed66e;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border: 2px solid rgba(211, 201, 68, 0.5);
    text-decoration: none;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    color: #111;
    transition: 0.3s;
}

.boton-bienvenida:active{
    background-color: rgb(245, 240, 240);
    transform: scale(0.9);
}

.boton-bienvenida:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 20px rgb(176, 176, 184, 0.5);
    border: 2px solid #c2bdaf;
    transition: 0.3s;
}

.boton-servicios{
    display: block;
    width: fit-content;
    margin: 15px auto;
    background-color: rgb(235, 220, 174);
    color: #111;
    text-decoration: none;
    padding: 5px;
    border: 2px solid rgb(236, 221, 133);
    border-radius: 15px;
}

.boton-servicios:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 20px rgb(176, 176, 184, 0.5);
    border: 2px solid #c2bdaf;
    transition: 0.3s;
}

header nav{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin: auto;
    border: 2px solid rgb(46, 33, 33);
    box-shadow: 0px 4px 10px rgb(189, 190, 199);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.logo{
    display: flex;
    flex: 3;
    padding: 10px;
    justify-content: center;
    font-size: clamp(0.7rem, 3vw, 2rem);
    font-weight: bold;
    color: #d4af37;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.contacto{
    display: flex;
    width: fit-content;
    flex: 1;
    justify-content: center;
    margin: 15px;
    text-align: center;
    background-color: #916811;
    border-radius: 15px;
    border: 2px solid rgb(151, 106, 34);
    box-shadow: #ffb006;
}

.contacto a:hover{
    border-radius: 15px;
    color: #ffffff;
    transform: translateY(-2px);
    transition: 0.3s;
}

.menu{
    display: flex;
    flex: 3;
    justify-content: start;
}

header nav a{
    color: #d6b10c;
    text-decoration: none;
    text-shadow: 0px 2px 5px #131212;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: large;
}

.menu a:hover{
    background-color: rgb(151, 106, 34);
    border-radius: 15px;
    color: #ffffff;
}

.contenedor-servicios{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

/*
.contenedor-servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
*/
main{
    box-shadow: 0px 8px 20px rgba(8, 8, 8, 0.5);
}
footer{
    color: #916811;
    text-align: center;
    height: auto;
    padding: 20px;
}

footer h2{
    text-align: center;
}

.seccion-formulario{
    background-color: #1d201f;
    border-radius: 15px;
    border: 2px solid rgb(151, 106, 34);
    padding: 20px;
    width: 60%;
    margin: auto
}
.seccion-formulario h2{
    text-align: center;
    font-size:clamp(1.5rem, 2vw, 2rem);
}

.formulario{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-size: 1.5rem;
}

.formulario label{
    padding: 10px;
    color: #916811;
    text-shadow: 0px 8px 10px;
}

.formulario input{
    border: 2px solid rgb(151, 106, 34);
    border-radius: 15px;
    padding: 10px;
    color: #ffffff;
    font-size: 1rem;
    background-color: #000000;
}

.formulario select{
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid rgb(151, 106, 34);
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
}

.formulario textarea{
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid rgb(151, 106, 34);
    border-radius: 15px;
    padding: 10px;
    font-size: 1rem;
}

.formulario button{
    background-color: #99671d;
    color: #050000;
    border: 2px solid rgb(151, 106, 34);
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgb(151, 106, 34);
    padding: 10px;
    font-size: 1rem;
    margin: auto;
}

.testimonios{
    margin-top: 30px;
    border-top: 2px solid rgb(151, 106, 34);
    border-bottom: 2px solid rgb(151, 106, 34);
}

.testimonio{
    margin: auto;
    margin-bottom: 35px;
}

.hamburguesa{
    display: none;
}

#menu-toggle{
    display: none;
}

.menu-movil{
    display: none;
}
@media (max-width: 768px){
    .contenedor-servicios{
        flex-direction: column;
    }

    .servicio{
        width: 90%;
    }

    .header nav{
        width: 80%;
        flex-direction: column;
    }

    .hamburguesa{
    display:block;
    margin-left: 10px;
    font-size:2rem;
    cursor:pointer;
    color:white;
    }

    .menu-movil{
        display:none;
        flex-direction:column;
        align-items: space-around;
        gap: 20px;
        height: 250px;
        width: 150px;
        background:black;
        position:fixed;
        top: 100px;
        left:0;
        padding: 20px;
        z-index: 1000;
        border: 2px solid rgb(151, 106, 34);
    }

    nav{
        justify-content: space-evenly;
        flex-direction:row;
        font-size: 1rem;
    }

    #menu-toggle:checked ~ .menu-movil{
        display: flex;
    }

    .galeria-fotos{
        gap:20px;
    }
    .menu-movil a{
        width: 100px;
    }
    .menu-movil a:hover{
    background:#916811;
    padding-left:30px;
    color: #FFFFFF;
    border-top: 2px solid rgb(151, 106, 34);
    border-radius: 15px;
    }
    .menu{
        display: none;
    }


    .bienvenida h1{
        font-size: 2.5rem;
    }
}
h1{
    font-size:clamp(2.5rem,7vw,4rem);
}

.logo{
    font-size:clamp(1rem,2vw+.5rem,2rem);
}

.promocion{
    display: none;
}

h2{
    font-size:clamp(2rem,5vw,3rem);
}
@media (max-width: 480px){
    .servicio{
        display: block;
        margin: auto 15;
        width: 200px;
        padding: 20px;
    }

    .promocion{
        display: none;
    }
    .texto{
        padding: 5px;
        text-align: center;
        font-size: 0.5rem;
    }

    .logo{
        font-size: 1rem;
    }

}

.contacto-redes a{
    color:#d4af37;
    text-decoration:none;
    font-size:1rem;
}

.fa-brands{
    color: #916811;
    text-decoration: none;
    padding: 5px;
}

.contacto-redes i:hover{
    color:#ffffff;
    transform:translateY(-5px);
    transition:0.3s;
}

.bienvenida p{
    font-size: 1.25rem;
    margin-bottom: 40px;
}

@keyframes aparecer{
    from{
        transform:translateY(50px) ;
        opacity: 0;
    }

    to{
        transform:translateY(0);
        opacity: 1;
    }
}

@keyframes corte-informacion{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}